<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAw2b7BFufD5mSIs6lSjEE3hdMw_O_AlgM</string>
	<key>GCM_SENDER_ID</key>
	<string>648737385917</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nutriscope</string>
	<key>PROJECT_ID</key>
	<string>nutriscope-8eae8</string>
	<key>STORAGE_BUCKET</key>
	<string>nutriscope-8eae8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:648737385917:ios:a714008e50bc3220b4b6d4</string>
</dict>
</plist>